<h1> Hello <%= current_identity.first_name %>!</h1>

<% if current_identity.slack_id.blank? %>
  <div class="banner warning">
    <strong>!! Account Setup Incomplete !!</strong> <br>
    We couldn't find or provision you a Slack account. <br>
    Please contact support.
  </div>
<% end %>

<% profile_completion = Components::ProfileCompletion.new(identity: current_identity) %>
<% if profile_completion.show? %>
  <%= render profile_completion %>
<% end %>

<%= render Components::SSOAppGrid.new(apps: @sso_apps) %>
