<div class="banner purple">
  <h1>welcome to the hack club slack!!</h1>
  <p>....not actually.</p>
  <p>if you're seeing this page, you're in the staging env at a point in the flow where you WOULD be SAML push-authed into Slack as a new user. </p>
  <p>we can't actually provision you an account on the test tenant, so...just....pretend, i guess.</p>
  <p>go <%= link_to "home", root_path %> if you like?</p>
</div>
