<% content_for :title, "check your email..." %>
<main class="container">
  <article>
    <h1>check your email...</h1>
    <p>we've sent a login link to your email address. please click the link to continue.</p>
    <p style="margin-bottom: 1rem;">
      <small>Didn't receive an email?
        <%= link_to "Send another login link", new_sessions_path, class: "secondary" %>
      </small>
    </p>
    <% if Rails.env.development? %>
      <p>you're in dev! check
        <%= link_to "letter opener", letter_opener_web_path, target: "_blank" %>!
      </p>
    <% end %>
  </article>
</main>
