This email address may be a subaddressed version of an existing identity's email address:
<ul>
  <li>This identity: <strong><%= email_subaddress_resemblance.identity.primary_email %></strong></li>
  <li>Previous identity: <strong><%= email_subaddress_resemblance.past_identity.primary_email %></strong></li>
</ul>
