<div class="page-header">
  <h1><%= t(".title.#{@is_resubmission ? 'resubmit' : 'initial'}") %></h1>
  <p><%= t(".subtitle.#{@is_resubmission ? 'resubmit' : 'initial'}") %></p>
</div>

<div class="page-sections">
  <%= render "shared/verifications/document_form", form_url: update_verification_step_path(:document), form_method: :put %>
</div>
