<article class="card">
  <header class="card-header">
    <div class="card-header-left" aria-hidden="true"></div>
    <h2 class="card-title"><%= title %></h2>
    <div class="card-header-right" aria-hidden="true"></div>
  </header>
  <section class="card-body">
    <%= yield %>
  </section>
</article>
