<% flash.each do |type, message| %>
  <% next if type == "sentry_event_id" %>
  <% if message.present? %>
    <div style="max-width: 120ch; margin: 0 auto; width: 100%;">
      <%= render Components::Backend::Banner.new(kind: type.to_sym) do %><%= message %><% end %>
    </div>
  <% end %>
<% end %>
