@import "./srcl-global";
@import "./srcl-fonts";
@import "./snippets/borders";
@import "./snippets/banners.scss";
@import "./snippets/admin_tools.scss";
@import "./snippets/tooltips.scss";
@import "./backend/card";
@import "./backend/item";
@import "./backend/shortcodes";
@import "./backend/grid";
@import "./backend/kbar";
@import "./backend/identity_picker";
@import "./backend/action_bar";
@import "./backend/buttons";


body {
  max-width: 80ch;
  padding-top: 3ch;
}

form {
    grid-template-columns: max-content auto;
}

a {
    text-decoration: none;
}
.link {
    color: blue;
    text-decoration: underline;
}

.identity-link {
    color: blue;
    text-decoration: underline;
}


ul {
    list-style: square; list-style-position: inside;
}

.pointer {
    cursor: pointer;
}