a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
embed,
em,
figure,
figcaption,
fieldset,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

a {
    background: var(--theme-border-subdued);
    color: var(--theme-text);
    text-decoration: none;

    &:link,
    &:visited {
        color: var(--theme-text);
    }

    &:hover {
        background: var(--theme-focused-foreground);
        color: var(--theme-text);
    }

    &:focus {
        background: var(--theme-focused-foreground);
        color: var(--theme-text);
        outline: 0;
    }
}

ul {
    list-style-position: inside;
    list-style-type: '▪';
    text-indent: -1ch;
}

ol {
    list-style-type: '';
    list-style-position: inside;
    counter-reset: cupcake;
    text-indent: -1ch;
}

ul ul,
ul ol,
ol ul,
ol ol {
    padding-left: 2ch;
}

ol li {
    padding-left: 1ch;
    counter-increment: cupcake;
}

ul li:before {
    content: ' ';
    display: inline-block;
    width: 1ch;
    height: 0;
    visibility: hidden;
}

ol li:before {
    content: counters(cupcake, '.') '. ';
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    --theme-overlay: var(--color-black-100-4);
    --theme-background: var(--color-black-100);
    --theme-background-modal: var(--color-gray-80);
    --theme-background-modal-footer: var(--color-gray-70);
    --theme-background-input: var(--color-gray-60);
    --theme-border: var(--color-gray-80);
    --theme-border-subdued: var(--color-gray-70-3);
    --theme-text: var(--color-white);
    --theme-button: var(--color-white);
    --theme-button-text: var(--color-black-100);
    --theme-button-foreground: var(--color-gray-90);
    --theme-button-background: var(--color-gray-80);
    --theme-focused-foreground: #ff00ff;
    --theme-focused-foreground-subdued: rgba(255, 0, 255, 0.5);
}

@media (prefers-color-scheme: light) {
    body {
        --theme-overlay: var(--color-black-100-4);
        --theme-background: var(--color-white);
        --theme-background-modal: var(--color-gray-20);
        --theme-background-modal-footer: var(--color-gray-40);
        --theme-background-input: var(--color-gray-10);
        --theme-border: var(--color-gray-20);
        --theme-border-subdued: var(--color-gray-40-2);
        --theme-text: var(--color-black-100);
        --theme-button: var(--color-black-100);
        --theme-button-text: var(--color-white);
        --theme-button-foreground: var(--color-gray-30);
        --theme-button-background: var(--color-gray-20);
        --theme-focused-foreground: #ff00ff;
        --theme-focused-foreground-subdued: rgba(255, 0, 255, 0.5);
    }
}

body.tint-green {
    --tint: #39ff44;
    --theme-background: oklch(from var(--tint) 0.15 calc(c * 0.2) h);
    --theme-background-modal: oklch(from var(--tint) 0.3 calc(c * 0.2) h);
    --theme-background-modal-footer: oklch(from var(--tint) 0.25 calc(c * 0.22) h);
    --theme-background-input: oklch(from var(--tint) 0.35 calc(c * 0.18) h);
    --theme-border: oklch(from var(--tint) 0.45 calc(c * 0.25) h);
    --theme-border-subdued: oklch(from var(--tint) 0.45 calc(c * 0.25) h / 0.6);
    --theme-text: oklch(from var(--tint) 0.88 calc(c * 0.2) h);
    --theme-button: oklch(from var(--tint) 0.88 calc(c * 0.2) h);
    --theme-button-text: oklch(from var(--tint) 0.15 calc(c * 0.2) h);
    --theme-button-foreground: oklch(from var(--tint) 0.35 calc(c * 0.25) h);
    --theme-button-background: oklch(from var(--tint) 0.3 calc(c * 0.2) h);
    --theme-focused-foreground: oklch(from var(--tint) 0.7 c h);
    --theme-focused-foreground-subdued: oklch(from var(--tint) 0.7 c h / 0.5);
}

body.tint-blue {
    --tint: #0047ff;
    --theme-background: oklch(from var(--tint) 0.15 calc(c * 0.2) h);
    --theme-background-modal: oklch(from var(--tint) 0.3 calc(c * 0.2) h);
    --theme-background-modal-footer: oklch(from var(--tint) 0.25 calc(c * 0.22) h);
    --theme-background-input: oklch(from var(--tint) 0.35 calc(c * 0.18) h);
    --theme-border: oklch(from var(--tint) 0.45 calc(c * 0.25) h);
    --theme-border-subdued: oklch(from var(--tint) 0.45 calc(c * 0.25) h / 0.6);
    --theme-text: oklch(from var(--tint) 0.88 calc(c * 0.2) h);
    --theme-button: oklch(from var(--tint) 0.88 calc(c * 0.2) h);
    --theme-button-text: oklch(from var(--tint) 0.15 calc(c * 0.2) h);
    --theme-button-foreground: oklch(from var(--tint) 0.35 calc(c * 0.25) h);
    --theme-button-background: oklch(from var(--tint) 0.3 calc(c * 0.2) h);
    --theme-focused-foreground: oklch(from var(--tint) 0.7 c h);
    --theme-focused-foreground-subdued: oklch(from var(--tint) 0.7 c h / 0.5);
}

body.tint-red {
    --tint: #ff0000;
    --theme-background: oklch(from var(--tint) 0.15 calc(c * 0.2) h);
    --theme-background-modal: oklch(from var(--tint) 0.3 calc(c * 0.2) h);
    --theme-background-modal-footer: oklch(from var(--tint) 0.25 calc(c * 0.22) h);
    --theme-background-input: oklch(from var(--tint) 0.35 calc(c * 0.18) h);
    --theme-border: oklch(from var(--tint) 0.45 calc(c * 0.25) h);
    --theme-border-subdued: oklch(from var(--tint) 0.45 calc(c * 0.25) h / 0.6);
    --theme-text: oklch(from var(--tint) 0.88 calc(c * 0.2) h);
    --theme-button: oklch(from var(--tint) 0.88 calc(c * 0.2) h);
    --theme-button-text: oklch(from var(--tint) 0.15 calc(c * 0.2) h);
    --theme-button-foreground: oklch(from var(--tint) 0.35 calc(c * 0.25) h);
    --theme-button-background: oklch(from var(--tint) 0.3 calc(c * 0.2) h);
    --theme-focused-foreground: oklch(from var(--tint) 0.7 c h);
    --theme-focused-foreground-subdued: oklch(from var(--tint) 0.7 c h / 0.5);
}

body.tint-yellow {
    --tint: #ffea78;
    --theme-background: oklch(from var(--tint) 0.15 calc(c * 0.2) h);
    --theme-background-modal: oklch(from var(--tint) 0.3 calc(c * 0.2) h);
    --theme-background-modal-footer: oklch(from var(--tint) 0.25 calc(c * 0.22) h);
    --theme-background-input: oklch(from var(--tint) 0.35 calc(c * 0.18) h);
    --theme-border: oklch(from var(--tint) 0.45 calc(c * 0.25) h);
    --theme-border-subdued: oklch(from var(--tint) 0.45 calc(c * 0.25) h / 0.6);
    --theme-text: oklch(from var(--tint) 0.88 calc(c * 0.2) h);
    --theme-button: oklch(from var(--tint) 0.88 calc(c * 0.2) h);
    --theme-button-text: oklch(from var(--tint) 0.15 calc(c * 0.2) h);
    --theme-button-foreground: oklch(from var(--tint) 0.35 calc(c * 0.25) h);
    --theme-button-background: oklch(from var(--tint) 0.3 calc(c * 0.2) h);
    --theme-focused-foreground: oklch(from var(--tint) 0.7 c h);
    --theme-focused-foreground-subdued: oklch(from var(--tint) 0.7 c h / 0.5);
}

body.tint-purple {
    --tint: #8000ff;
    --theme-background: oklch(from var(--tint) 0.15 calc(c * 0.2) h);
    --theme-background-modal: oklch(from var(--tint) 0.3 calc(c * 0.2) h);
    --theme-background-modal-footer: oklch(from var(--tint) 0.25 calc(c * 0.22) h);
    --theme-background-input: oklch(from var(--tint) 0.35 calc(c * 0.18) h);
    --theme-border: oklch(from var(--tint) 0.45 calc(c * 0.25) h);
    --theme-border-subdued: oklch(from var(--tint) 0.45 calc(c * 0.25) h / 0.6);
    --theme-text: oklch(from var(--tint) 0.88 calc(c * 0.2) h);
    --theme-button: oklch(from var(--tint) 0.88 calc(c * 0.2) h);
    --theme-button-text: oklch(from var(--tint) 0.15 calc(c * 0.2) h);
    --theme-button-foreground: oklch(from var(--tint) 0.35 calc(c * 0.25) h);
    --theme-button-background: oklch(from var(--tint) 0.3 calc(c * 0.2) h);
    --theme-focused-foreground: oklch(from var(--tint) 0.7 c h);
    --theme-focused-foreground-subdued: oklch(from var(--tint) 0.7 c h / 0.5);
}

body.tint-orange {
    --tint: #ffac1c;
    --theme-background: oklch(from var(--tint) 0.15 calc(c * 0.2) h);
    --theme-background-modal: oklch(from var(--tint) 0.3 calc(c * 0.2) h);
    --theme-background-modal-footer: oklch(from var(--tint) 0.25 calc(c * 0.22) h);
    --theme-background-input: oklch(from var(--tint) 0.35 calc(c * 0.18) h);
    --theme-border: oklch(from var(--tint) 0.45 calc(c * 0.25) h);
    --theme-border-subdued: oklch(from var(--tint) 0.45 calc(c * 0.25) h / 0.6);
    --theme-text: oklch(from var(--tint) 0.88 calc(c * 0.2) h);
    --theme-button: oklch(from var(--tint) 0.88 calc(c * 0.2) h);
    --theme-button-text: oklch(from var(--tint) 0.15 calc(c * 0.2) h);
    --theme-button-foreground: oklch(from var(--tint) 0.35 calc(c * 0.25) h);
    --theme-button-background: oklch(from var(--tint) 0.3 calc(c * 0.2) h);
    --theme-focused-foreground: oklch(from var(--tint) 0.7 c h);
    --theme-focused-foreground-subdued: oklch(from var(--tint) 0.7 c h / 0.5);
}

body.tint-pink {
    --tint: #ff00ff;
    --theme-background: oklch(from var(--tint) 0.15 calc(c * 0.2) h);
    --theme-background-modal: oklch(from var(--tint) 0.3 calc(c * 0.2) h);
    --theme-background-modal-footer: oklch(from var(--tint) 0.25 calc(c * 0.22) h);
    --theme-background-input: oklch(from var(--tint) 0.35 calc(c * 0.18) h);
    --theme-border: oklch(from var(--tint) 0.45 calc(c * 0.25) h);
    --theme-border-subdued: oklch(from var(--tint) 0.45 calc(c * 0.25) h / 0.6);
    --theme-text: oklch(from var(--tint) 0.88 calc(c * 0.2) h);
    --theme-button: oklch(from var(--tint) 0.88 calc(c * 0.2) h);
    --theme-button-text: oklch(from var(--tint) 0.15 calc(c * 0.2) h);
    --theme-button-foreground: oklch(from var(--tint) 0.35 calc(c * 0.25) h);
    --theme-button-background: oklch(from var(--tint) 0.3 calc(c * 0.2) h);
    --theme-focused-foreground: oklch(from var(--tint) 0.7 c h);
    --theme-focused-foreground-subdued: oklch(from var(--tint) 0.7 c h / 0.5);
}

@media (prefers-color-scheme: light) {
    body.tint-green {
        --theme-background: oklch(from var(--tint) 0.985 calc(c * 0.08) h);
        --theme-background-modal: oklch(from var(--tint) 0.92 calc(c * 0.15) h);
        --theme-background-modal-footer: oklch(from var(--tint) 0.88 calc(c * 0.2) h);
        --theme-background-input: oklch(from var(--tint) 0.97 calc(c * 0.1) h);
        --theme-border: oklch(from var(--tint) 0.88 calc(c * 0.25) h);
        --theme-border-subdued: oklch(from var(--tint) 0.9 calc(c * 0.18) h);
        --theme-text: oklch(from var(--tint) 0.25 calc(c * 0.4) h);
        --theme-button: oklch(from var(--tint) 0.25 calc(c * 0.4) h);
        --theme-button-text: oklch(from var(--tint) 0.985 calc(c * 0.08) h);
        --theme-button-foreground: oklch(from var(--tint) 0.9 calc(c * 0.18) h);
        --theme-button-background: oklch(from var(--tint) 0.88 calc(c * 0.25) h);
        --theme-focused-foreground: oklch(from var(--tint) 0.6 calc(c * 1.1) h);
        --theme-focused-foreground-subdued: oklch(from var(--tint) 0.6 calc(c * 1.1) h / 0.5);
    }

    body.tint-blue {
        --theme-background: oklch(from var(--tint) 0.99 calc(c * 0.1) h);
        --theme-background-modal: oklch(from var(--tint) 0.94 calc(c * 0.12) h);
        --theme-background-modal-footer: oklch(from var(--tint) 0.9 calc(c * 0.2) h);
        --theme-background-input: oklch(from var(--tint) 0.97 calc(c * 0.08) h);
        --theme-border: oklch(from var(--tint) 0.9 calc(c * 0.2) h);
        --theme-border-subdued: oklch(from var(--tint) 0.92 calc(c * 0.15) h);
        --theme-text: oklch(from var(--tint) 0.2 calc(c * 0.3) h);
        --theme-button: oklch(from var(--tint) 0.2 calc(c * 0.3) h);
        --theme-button-text: oklch(from var(--tint) 0.99 calc(c * 0.1) h);
        --theme-button-foreground: oklch(from var(--tint) 0.92 calc(c * 0.15) h);
        --theme-button-background: oklch(from var(--tint) 0.9 calc(c * 0.2) h);
        --theme-focused-foreground: oklch(from var(--tint) 0.65 c h);
        --theme-focused-foreground-subdued: oklch(from var(--tint) 0.65 c h / 0.5);
    }

    body.tint-red {
        --theme-background: oklch(from var(--tint) 0.99 calc(c * 0.1) h);
        --theme-background-modal: oklch(from var(--tint) 0.94 calc(c * 0.12) h);
        --theme-background-modal-footer: oklch(from var(--tint) 0.9 calc(c * 0.2) h);
        --theme-background-input: oklch(from var(--tint) 0.97 calc(c * 0.08) h);
        --theme-border: oklch(from var(--tint) 0.9 calc(c * 0.2) h);
        --theme-border-subdued: oklch(from var(--tint) 0.92 calc(c * 0.15) h);
        --theme-text: oklch(from var(--tint) 0.2 calc(c * 0.3) h);
        --theme-button: oklch(from var(--tint) 0.2 calc(c * 0.3) h);
        --theme-button-text: oklch(from var(--tint) 0.99 calc(c * 0.1) h);
        --theme-button-foreground: oklch(from var(--tint) 0.92 calc(c * 0.15) h);
        --theme-button-background: oklch(from var(--tint) 0.9 calc(c * 0.2) h);
        --theme-focused-foreground: oklch(from var(--tint) 0.65 c h);
        --theme-focused-foreground-subdued: oklch(from var(--tint) 0.65 c h / 0.5);
    }

    body.tint-yellow {
        --theme-background: oklch(from var(--tint) 0.99 calc(c * 0.1) h);
        --theme-background-modal: oklch(from var(--tint) 0.94 calc(c * 0.12) h);
        --theme-background-modal-footer: oklch(from var(--tint) 0.9 calc(c * 0.2) h);
        --theme-background-input: oklch(from var(--tint) 0.97 calc(c * 0.08) h);
        --theme-border: oklch(from var(--tint) 0.9 calc(c * 0.2) h);
        --theme-border-subdued: oklch(from var(--tint) 0.92 calc(c * 0.15) h);
        --theme-text: oklch(from var(--tint) 0.2 calc(c * 0.3) h);
        --theme-button: oklch(from var(--tint) 0.2 calc(c * 0.3) h);
        --theme-button-text: oklch(from var(--tint) 0.99 calc(c * 0.1) h);
        --theme-button-foreground: oklch(from var(--tint) 0.92 calc(c * 0.15) h);
        --theme-button-background: oklch(from var(--tint) 0.9 calc(c * 0.2) h);
        --theme-focused-foreground: oklch(from var(--tint) 0.65 c h);
        --theme-focused-foreground-subdued: oklch(from var(--tint) 0.65 c h / 0.5);
    }

    body.tint-purple {
        --theme-background: oklch(from var(--tint) 0.99 calc(c * 0.1) h);
        --theme-background-modal: oklch(from var(--tint) 0.94 calc(c * 0.12) h);
        --theme-background-modal-footer: oklch(from var(--tint) 0.9 calc(c * 0.2) h);
        --theme-background-input: oklch(from var(--tint) 0.97 calc(c * 0.08) h);
        --theme-border: oklch(from var(--tint) 0.9 calc(c * 0.2) h);
        --theme-border-subdued: oklch(from var(--tint) 0.92 calc(c * 0.15) h);
        --theme-text: oklch(from var(--tint) 0.2 calc(c * 0.3) h);
        --theme-button: oklch(from var(--tint) 0.2 calc(c * 0.3) h);
        --theme-button-text: oklch(from var(--tint) 0.99 calc(c * 0.1) h);
        --theme-button-foreground: oklch(from var(--tint) 0.92 calc(c * 0.15) h);
        --theme-button-background: oklch(from var(--tint) 0.9 calc(c * 0.2) h);
        --theme-focused-foreground: oklch(from var(--tint) 0.65 c h);
        --theme-focused-foreground-subdued: oklch(from var(--tint) 0.65 c h / 0.5);
    }

    body.tint-orange {
        --theme-background: oklch(from var(--tint) 0.99 calc(c * 0.1) h);
        --theme-background-modal: oklch(from var(--tint) 0.94 calc(c * 0.12) h);
        --theme-background-modal-footer: oklch(from var(--tint) 0.9 calc(c * 0.2) h);
        --theme-background-input: oklch(from var(--tint) 0.97 calc(c * 0.08) h);
        --theme-border: oklch(from var(--tint) 0.9 calc(c * 0.2) h);
        --theme-border-subdued: oklch(from var(--tint) 0.92 calc(c * 0.15) h);
        --theme-text: oklch(from var(--tint) 0.2 calc(c * 0.3) h);
        --theme-button: oklch(from var(--tint) 0.2 calc(c * 0.3) h);
        --theme-button-text: oklch(from var(--tint) 0.99 calc(c * 0.1) h);
        --theme-button-foreground: oklch(from var(--tint) 0.92 calc(c * 0.15) h);
        --theme-button-background: oklch(from var(--tint) 0.9 calc(c * 0.2) h);
        --theme-focused-foreground: oklch(from var(--tint) 0.65 c h);
        --theme-focused-foreground-subdued: oklch(from var(--tint) 0.65 c h / 0.5);
    }

    body.tint-pink {
        --theme-background: oklch(from var(--tint) 0.99 calc(c * 0.1) h);
        --theme-background-modal: oklch(from var(--tint) 0.94 calc(c * 0.12) h);
        --theme-background-modal-footer: oklch(from var(--tint) 0.9 calc(c * 0.2) h);
        --theme-background-input: oklch(from var(--tint) 0.97 calc(c * 0.08) h);
        --theme-border: oklch(from var(--tint) 0.9 calc(c * 0.2) h);
        --theme-border-subdued: oklch(from var(--tint) 0.92 calc(c * 0.15) h);
        --theme-text: oklch(from var(--tint) 0.2 calc(c * 0.3) h);
        --theme-button: oklch(from var(--tint) 0.2 calc(c * 0.3) h);
        --theme-button-text: oklch(from var(--tint) 0.99 calc(c * 0.1) h);
        --theme-button-foreground: oklch(from var(--tint) 0.92 calc(c * 0.15) h);
        --theme-button-background: oklch(from var(--tint) 0.9 calc(c * 0.2) h);
        --theme-focused-foreground: oklch(from var(--tint) 0.65 c h);
        --theme-focused-foreground-subdued: oklch(from var(--tint) 0.65 c h / 0.5);
    }
}

html,
body {
    --color-black-100: rgba(0, 0, 0, 1);
    --color-black-100-1: rgba(0, 0, 0, 0.1);
    --color-black-100-2: rgba(0, 0, 0, 0.2);
    --color-black-100-4: rgba(0, 0, 0, 0.4);
    --color-black-daybreak-100: rgba(4, 2, 0, 1);
    --color-black-daybreak-100-4: rgba(4, 2, 0, 0.4);

    --color-blue-10: rgba(237, 245, 255, 1);
    --color-blue-100: rgba(0, 17, 65, 1);
    --color-blue-20: rgba(208, 226, 255, 1);
    --color-blue-20-1: rgba(208, 226, 255, 0.1);
    --color-blue-20-2: rgba(208, 226, 255, 0.2);
    --color-blue-20-5: rgba(208, 226, 255, 0.5);
    --color-blue-30: rgba(166, 200, 255, 1);
    --color-blue-40: rgba(120, 169, 255, 1);
    --color-blue-50: rgba(69, 137, 255, 1);
    --color-blue-50-5: rgba(69, 137, 255, 0.5);
    --color-blue-60: rgba(15, 98, 254, 1);
    --color-blue-60-2: rgba(15, 98, 254, 0.2);
    --color-blue-70: rgba(0, 67, 206, 1);
    --color-blue-80: rgba(0, 45, 156, 1);
    --color-blue-80-4: rgba(0, 45, 156, 0.4);
    --color-blue-80-6: rgba(0, 45, 156, 0.6);
    --color-blue-90: rgba(0, 29, 108, 1);
    --color-blue-90-6: rgba(0, 29, 108, 0.6);

    --color-daybreak: rgba(255, 108, 4, 1);
    --color-daybreak-1: rgba(255, 108, 4, 0.1);
    --color-daybreak-10: rgba(239, 99, 0, 1);
    --color-daybreak-10-5: rgba(239, 99, 0, 0.5);
    --color-daybreak-2: rgba(255, 108, 4, 0.2);
    --color-daybreak-20: rgba(220, 91, 0, 1);
    --color-daybreak-30: rgba(200, 83, 0, 1);
    --color-daybreak-4: rgba(255, 108, 4, 0.4);
    --color-daybreak-40: rgba(180, 75, 0, 1);
    --color-daybreak-40-2: rgba(180, 75, 0, 0.2);
    --color-daybreak-50: rgba(161, 67, 0, 1);
    --color-daybreak-60: rgba(141, 59, 0, 1);
    --color-daybreak-70: rgba(121, 50, 0, 1);
    --color-daybreak-70-3: rgba(121, 50, 0, 0.3);
    --color-daybreak-80: rgba(102, 42, 0, 1);
    --color-daybreak-90: rgba(82, 34, 0, 1);

    --color-gold-30: rgba(241, 194, 27, 1);

    --color-gray-10: rgba(244, 244, 244, 1);
    --color-gray-100: rgba(22, 22, 22, 1);
    --color-gray-20: rgba(224, 224, 224, 1);
    --color-gray-20-7: rgba(224, 224, 224, 0.7);
    --color-gray-30: rgba(198, 198, 198, 1);
    --color-gray-30-7: rgba(224, 224, 224, 0.7);
    --color-gray-40: rgba(168, 168, 168, 1);
    --color-gray-40-2: rgba(168, 168, 168, 0.2);
    --color-gray-50: rgba(141, 141, 141, 1);
    --color-gray-60: rgba(111, 111, 111, 1);
    --color-gray-70: rgba(82, 82, 82, 1);
    --color-gray-70-3: rgba(82, 82, 82, 0.3);
    --color-gray-70-4: rgba(82, 82, 82, 0.4);
    --color-gray-80: rgba(57, 57, 57, 1);
    --color-gray-80-6: rgba(57, 57, 57, 0.6);
    --color-gray-90: rgba(38, 38, 38, 1);
    --color-gray-90-6: rgba(38, 38, 38, 0.6);

    --color-green-100: rgba(7, 25, 8, 1);
    --color-green-100: rgba(7, 25, 8, 1);
    --color-green-90: rgba(2, 45, 13, 1);
    --color-green-80: rgba(4, 67, 23, 1);
    --color-green-70: rgba(14, 96, 39, 1);
    --color-green-60: rgba(25, 128, 56, 1);
    --color-green-60-3: rgba(25, 128, 56, 0.3);
    --color-green-50: rgba(36, 161, 72, 1);
    --color-green-40: rgba(66, 190, 101, 1);
    --color-green-30: rgba(111, 220, 140, 1);
    --color-green-20: rgba(167, 240, 186, 1);
    --color-green-10: rgba(222, 251, 230, 1);

    --color-neon-green-10: rgba(242, 255, 233, 1);
    --color-neon-green-100: rgba(10, 44, 2, 1);
    --color-neon-green-100-1: rgba(10, 44, 2, 0.1);
    --color-neon-green-100-2: rgba(10, 44, 2, 0.2);
    --color-neon-green-100-4: rgba(10, 44, 2, 0.4);
    --color-neon-green-20: rgba(213, 255, 191, 1);
    --color-neon-green-30: rgba(178, 255, 148, 1);
    --color-neon-green-40: rgba(138, 255, 104, 1);
    --color-neon-green-50: rgba(92, 255, 59, 1);
    --color-neon-green-50-5: rgba(92, 255, 59, 0.5);
    --color-neon-green-60: rgba(46, 231, 29, 1);
    --color-neon-green-60-3: rgba(46, 231, 29, 0.3);
    --color-neon-green-70: rgba(0, 207, 0, 1);
    --color-neon-green-70-3: rgba(0, 207, 0, 0.3);
    --color-neon-green-70-7: rgba(0, 207, 0, 0.7);
    --color-neon-green-80: rgba(0, 159, 0, 1);
    --color-neon-green-80-1: rgba(0, 159, 0, 0.1);
    --color-neon-green-80-2: rgba(0, 159, 0, 0.2);
    --color-neon-green-80-4: rgba(0, 159, 0, 0.4);
    --color-neon-green-90: rgba(16, 107, 2, 1);

    --color-red-100: rgba(45, 7, 9, 1);
    --color-red-100-4: rgba(45, 7, 9, 0.4);
    --color-red-90: rgba(82, 4, 8, 1);
    --color-red-80: rgba(117, 14, 19, 1);
    --color-red-70: rgba(162, 25, 31, 1);
    --color-red-60: rgba(218, 30, 40, 1);
    --color-red-60-7: rgba(218, 30, 40, 0.7);
    --color-red-60-3: rgba(218, 30, 40, 0.3);
    --color-red-50: rgba(250, 77, 86, 1);
    --color-red-40: rgba(255, 131, 137, 1);
    --color-red-30: rgba(255, 179, 184, 1);
    --color-red-20: rgba(255, 215, 217, 1);
    --color-red-10: rgba(255, 241, 241, 1);

    --color-teal-100: rgba(8, 26, 28, 1);
    --color-teal-100-4: rgba(8, 26, 28, 0.4);
    --color-teal-90: rgba(2, 43, 48, 1);
    --color-teal-80: rgba(0, 65, 68, 1);
    --color-teal-70: rgba(0, 93, 93, 1);
    --color-teal-70-4: rgba(0, 93, 93, 0.4);
    --color-teal-70-3: rgba(0, 93, 93, 0.3);
    --color-teal-60: rgba(0, 125, 121, 1);
    --color-teal-60-7: rgba(0, 125, 121, 0.7);
    --color-teal-60-3: rgba(0, 125, 121, 0.3);
    --color-teal-50: rgba(0, 157, 154, 1);
    --color-teal-40: rgba(8, 189, 186, 1);
    --color-teal-30: rgba(61, 219, 217, 1);
    --color-teal-20: rgba(158, 240, 240, 1);
    --color-teal-10: rgba(217, 251, 251, 1);

    --color-white: rgba(255, 255, 255, 1);
    --color-white-1: rgba(255, 255, 255, 0.1);
    --color-white-2: rgba(255, 255, 255, 0.2);
    --color-white-4: rgba(255, 255, 255, 0.4);

    --font-family: -apple-system, BlinkMacSystemFont, helvetica neue, helvetica, sans-serif;
    --font-family-mono: 'GeistMono-Regular', Consolas, monaco, monospace;
    --font-family-serif: Georgia, Times New Roman, serif;

    --theme-line-height-base: 1.25;
    --font-size: 16px;

    --z-index-page: 1;
    --z-index-page-select: 3;
    --z-index-page-tooltips: 4;
    --z-index-page-popover: 5;
    --z-index-page-dropdown-menus: 6;
    --z-index-page-modals: 10;

    background: var(--theme-background);
    color: var(--theme-text);
    font-family: var(--font-family-mono);
    line-height: calc(var(--theme-line-height-base) * 1rem);

    font-size: var(--font-size);
    font-optical-sizing: auto;
    text-rendering: geometricPrecision;
    font-weight: 400;
    font-variant-numeric: tabular-nums lining-nums;

    &::-webkit-scrollbar {
        background: transparent;
        height: calc(var(--theme-line-height-base) * 1rem);
        width: 1ch;
    }

    &::-webkit-scrollbar-track {
        background: var(--theme-background);
    }

    &::-webkit-scrollbar-thumb {
        background: var(--theme-border);
    }

    &::-webkit-scrollbar-thumb:hover {
        background: var(--theme-border);
    }
}
