@font-face {
    font-family: 'GlassTTY-TrueType-VT220';
    src: url('https://intdev-global.s3.us-west-2.amazonaws.com/public/internet-dev/4c1b74be-d536-4594-a33f-69879d054d27.woff') format('woff');
}

body.font-use-glasstty-vt220 {
    --font-family-mono: 'GlassTTY-TrueType-VT220', sans-serif;
}

@font-face {
    font-family: 'Web437-Sanyo-MB-C775-2Y';
    src: url('https://intdev-global.s3.us-west-2.amazonaws.com/public/internet-dev/435488d6-5f95-47b7-90ec-bb15add89171.woff') format('woff2');
}

body.font-use-web437-sanyo-mb-c775-2y {
    --font-family-mono: 'Web437-Sanyo-MB-C775-2Y', sans-serif;
}

@font-face {
    font-family: 'Web437-Pheonix-EGA-8X8-2Y';
    src: url('https://intdev-global.s3.us-west-2.amazonaws.com/public/internet-dev/bddab573-f73e-493d-bacd-0138eb5a6c93.woff') format('woff2');
}

body.font-use-web437-pheonix-ega-8x8-2y {
    --font-family-mono: 'Web437-Pheonix-EGA-8X8-2Y', sans-serif;
}

@font-face {
    font-family: 'WebPlus-AST-PremiumExec';
    src: url('https://intdev-global.s3.us-west-2.amazonaws.com/public/internet-dev/33694a1b-8b35-4056-95f2-c671a52a9d9c.woff') format('woff2');
}

body.font-use-webplus-ast-premiumexec {
    --font-family-mono: 'WebPlus-AST-PremiumExec', sans-serif;
}

@font-face {
    font-family: 'Web437-Nix8810-M16';
    src: url('https://intdev-global.s3.us-west-2.amazonaws.com/public/internet-dev/20bec0a2-763c-43fe-9703-caeebed4fa21.woff') format('woff2');
}

body.font-use-web437-nix8810-m16 {
    --font-family-mono: 'Web437-Nix8810-M16', sans-serif;
}

@font-face {
    font-family: 'ToshibaTxL1-8x16';
    src: url('https://intdev-global.s3.us-west-2.amazonaws.com/public/internet-dev/50966f5b-3013-472a-b359-24d4914da599.woff') format('woff2');
}

body.font-use-toshiba-tx-l1-8x16 {
    --font-family-mono: 'ToshibaTxL1-8x16', sans-serif;
}

@font-face {
    font-family: 'Web437-DOS-V-ANK16';
    src: url('https://intdev-global.s3.us-west-2.amazonaws.com/public/internet-dev/d85fae6d-a2f7-4e12-a27a-c4a90430cbac.woff') format('woff2');
}

body.font-use-web437-dos-v-ank16 {
    --font-family-mono: 'Web437-DOS-V-ANK16', sans-serif;
}

@font-face {
    font-family: 'Web437-DOS-V-ANK19';
    src: url('https://intdev-global.s3.us-west-2.amazonaws.com/public/internet-dev/736818cd-ac1b-4b35-86cc-64592ac2fbd8.woff') format('woff2');
}

body.font-use-web437-dos-v-ank19 {
    --font-family-mono: 'Web437-DOS-V-ANK19', sans-serif;
}

@font-face {
    font-family: 'Web437-DOS-V-ANK24';
    src: url('https://intdev-global.s3.us-west-2.amazonaws.com/public/internet-dev/46ea33d9-b161-49de-a0b1-81836c300eda.woff') format('woff2');
}

body.font-use-web437-dos-v-ank24 {
    --font-family-mono: 'Web437-DOS-V-ANK24', sans-serif;
}

@font-face {
    font-family: 'Web437-DOS-V-ANK30';
    src: url('https://intdev-global.s3.us-west-2.amazonaws.com/public/internet-dev/7b9ac71d-201f-4c95-83b5-5f6839c4522d.woff') format('woff2');
}

body.font-use-web437-dos-v-ank30 {
    --font-family-mono: 'Web437-DOS-V-ANK30', sans-serif;
}

@font-face {
    font-family: 'WebPlus-IBM-BIOS';
    src: url('https://intdev-global.s3.us-west-2.amazonaws.com/public/internet-dev/f92d111d-e27c-4264-89c7-7b0769d0146f.woff') format('woff2');
}

body.font-use-web-plus-ibm-bios {
    --font-family-mono: 'WebPlus-IBM-BIOS', sans-serif;
}

@font-face {
    font-family: 'WebPlus-IBM-VGA-8X16';
    src: url('https://intdev-global.s3.us-west-2.amazonaws.com/public/internet-dev/e775815e-b21f-4b1b-9144-28ceb6a19ee7.woff') format('woff2');
}

body.font-use-web-plus-ibm-vga-8x16 {
    --font-family-mono: 'WebPlus-IBM-VGA-8X16', sans-serif;
}

@font-face {
    font-family: 'TX02Mono-Regular';
    src: url('https://intdev-global.s3.us-west-2.amazonaws.com/public/internet-dev/e049dfb6-9c5d-4ac4-97c2-eb6e95c61d09.woff2') format('woff2');
}

body.font-use-berkeley-mono {
    --font-family-mono: 'TX02Mono-Regular', sans-serif;
}

@font-face {
    font-family: 'ChicagoMono-Regular';
    src: url('https://intdev-global.s3.us-west-2.amazonaws.com/public/internet-dev/f45417e0-69fa-42c4-abd7-4df907ef4c67.woff') format('woff');
}

body.font-use-chicago-mono {
    --font-family-mono: 'ChicagoMono-Regular', sans-serif;
}

@font-face {
    font-family: 'CodeNewRomanMono-Regular';
    src: url('https://intdev-global.s3.us-west-2.amazonaws.com/public/internet-dev/d6f52c63-d8c3-44a8-8989-b1e554d4a132.woff2') format('woff2');
}

body.font-use-code-new-roman-mono {
    --font-family-mono: 'CodeNewRomanMono-Regular', sans-serif;
}

@font-face {
    font-family: 'CommitMono-Regular';
    src: url('https://intdev-global.s3.us-west-2.amazonaws.com/public/internet-dev/3fecb478-80cf-41c5-b834-8562ab0baae0.woff2') format('woff2');
}

body.font-use-commit-mono {
    --font-family-mono: 'CommitMono-Regular', sans-serif;
}

@font-face {
    font-family: 'DepartureMono-Regular';
    src: url('https://intdev-global.s3.us-west-2.amazonaws.com/public/internet-dev/2ed59eb2-a4a6-490c-8d70-757b68af681d.woff') format('woff');
}

body.font-use-departure-mono {
    --font-family-mono: 'DepartureMono-Regular', sans-serif;
}

@font-face {
    font-family: 'FiraCode-Regular';
    src: url('https://intdev-global.s3.us-west-2.amazonaws.com/public/internet-dev/6cf7752d-f7c3-48b2-8149-2d0d39bc008a.woff') format('woff');
}

body.font-use-fira-code {
    --font-family-mono: 'FiraCode-Regular', sans-serif;
}

@font-face {
    font-family: 'FragmentMono-Regular';
    src: url('https://intdev-global.s3.us-west-2.amazonaws.com/public/internet-dev/102755cd-b36a-4db8-907e-c915b322107a.woff2') format('woff2');
}

body.font-use-fragment-mono {
    --font-family-mono: 'FragmentMono-Regular', sans-serif;
}

@font-face {
    font-family: 'GeistMono-Regular';
    src: url('https://intdev-global.s3.us-west-2.amazonaws.com/public/internet-dev/996b00fb-4b7a-403d-8da2-ce2225450681.woff2') format('woff2');
}

body.font-use-geist-mono {
    --font-family-mono: 'GeistMono-Regular', sans-serif;
}

@font-face {
    font-family: 'IntelOneMono-Regular';
    src: url('https://intdev-global.s3.us-west-2.amazonaws.com/public/internet-dev/6c948c21-10b9-43ba-8a3e-162fca1d33cf.woff2') format('woff2');
}

body.font-use-intel-one-mono {
    --font-family-mono: 'IntelOneMono-Regular', sans-serif;
}

@font-face {
    font-family: 'IosevkaTerm-Regular';
    src: url('https://intdev-global.s3.us-west-2.amazonaws.com/public/internet-dev/6397be61-3ea4-459d-8a3e-fd95168cb214.woff2') format('woff2');
}

body.font-use-iosevka-term {
    --font-family-mono: 'IosevkaTerm-Regular', sans-serif;
}

@font-face {
    font-family: 'JetBrainsMono-Regular';
    src: url('https://next-s3-public.s3.us-west-2.amazonaws.com/JetBrainsMono-Regular.woff2') format('woff');
}

body.font-use-jet-brains-mono {
    --font-family-mono: 'JetBrainsMono-Regular', sans-serif;
}

@font-face {
    font-family: 'JuliaMono-Regular';
    src: url('https://intdev-global.s3.us-west-2.amazonaws.com/public/internet-dev/332a2ce1-beb6-41bc-a5ef-bf12528e9d1d.woff2') format('woff2');
}

body.font-use-julia-mono {
    --font-family-mono: 'JuliaMono-Regular', sans-serif;
}

@font-face {
    font-family: 'Kommuna-Regular';
    src: url('https://intdev-global.s3.us-west-2.amazonaws.com/public/internet-dev/a9233f90-3df3-4cb3-b630-ef10c8359a2f.woff') format('woff2');
}

body.font-use-kommuna-mono {
    --font-family-mono: 'Kommuna-Regular', sans-serif;
}

@font-face {
    font-family: 'MonaspaceArgon-Variable';
    src: url('https://intdev-global.s3.us-west-2.amazonaws.com/public/internet-dev/5d1c5170-4c1c-4426-9b95-5163bd4818d9.woff2') format('woff');
}

body.font-use-monaspace-argon-mono {
    --font-family-mono: 'MonaspaceArgon-Variable', sans-serif;
}

@font-face {
    font-family: 'MonaspaceKrypton-Variable';
    src: url('https://intdev-global.s3.us-west-2.amazonaws.com/public/internet-dev/6bf3c131-4156-4534-b7c9-53cbf64784ef.woff2') format('woff');
}

body.font-use-monaspace-krypton-mono {
    --font-family-mono: 'MonaspaceKrypton-Variable', sans-serif;
}

@font-face {
    font-family: 'MonaspaceNeon-Variable';
    src: url('https://intdev-global.s3.us-west-2.amazonaws.com/public/internet-dev/95529f9d-81bc-49e7-91bc-239f352b2549.woff2') format('woff');
}

body.font-use-monaspace-neon-mono {
    --font-family-mono: 'MonaspaceNeon-Variable', sans-serif;
}

@font-face {
    font-family: 'MonaspaceRadon-Variable';
    src: url('https://intdev-global.s3.us-west-2.amazonaws.com/public/internet-dev/fdbb01b6-0ef1-42d2-87bd-8b8e6751a3cc.woff2') format('woff');
}

body.font-use-monaspace-radon-mono {
    --font-family-mono: 'MonaspaceRadon-Variable', sans-serif;
}

@font-face {
    font-family: 'MonaspaceXenon-Variable';
    src: url('https://intdev-global.s3.us-west-2.amazonaws.com/public/internet-dev/9fd45c79-5a6b-4832-af7b-51fd0cf4411a.woff2') format('woff');
}

body.font-use-monaspace-xenon-mono {
    --font-family-mono: 'MonaspaceXenon-Variable', sans-serif;
}

@font-face {
    font-family: 'MPlus-Regular';
    src: url('https://intdev-global.s3.us-west-2.amazonaws.com/public/internet-dev/e3eac277-a8a1-4f27-9205-ae7d74c8b759.woff') format('woff');
}

body.font-use-m1-plus-mono {
    --font-family-mono: 'MPlus-Regular', sans-serif;
}

@font-face {
    font-family: 'Panama-Regular';
    src: url('https://next-s3-public.s3.us-west-2.amazonaws.com/me/mono.woff') format('woff');
}

body.font-use-panama-mono {
    --font-family-mono: 'Panama-Regular', sans-serif;
}

@font-face {
    font-family: 'ServerMono';
    src:
            url('https://cdn.jsdelivr.net/gh/internet-development/www-server-mono@latest/public/fonts/ServerMono-Regular.woff2') format('woff2'),
            url('https://cdn.jsdelivr.net/gh/internet-development/www-server-mono@latest/public/fonts/ServerMono-Regular.woff') format('woff'),
            url('https://cdn.jsdelivr.net/gh/internet-development/www-server-mono@latest/public/fonts/ServerMono-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body.font-use-server-mono {
    --font-family-mono: 'ServerMono', sans-serif;
}

@font-face {
    font-family: 'SFMonoSquare-Regular';
    src: url('https://intdev-global.s3.us-west-2.amazonaws.com/public/internet-dev/d94a73b5-d1c5-4a97-9b2d-18e5941833f6.woff') format('woff');
}

body.font-use-sfmono-square {
    --font-family-mono: 'SFMonoSquare-Regular', sans-serif;
}

@font-face {
    font-family: 'UbuntuSansMono-Regular';
    src: url('https://intdev-global.s3.us-west-2.amazonaws.com/public/internet-dev/a7ef1855-4ad2-4b2d-8f81-e85c59f0cced.woff2') format('woff2');
}

body.font-use-ubuntu-mono {
    --font-family-mono: 'UbuntuSansMono-Regular', sans-serif;
}
