<div class="passkey-setup" x-data="webauthnRegister()">
  <p class="webauthn-setup-description">
    A passwordless way to sign in using your device's biometric authentication or PIN.
  </p>

  <div x-show="!browserSupported" x-cloak class="alert alert-warning">
    <strong>Browser not supported</strong>
    <p>Your browser doesn't support the latest WebAuthn features. Use something modern!</p>
  </div>

  <div x-show="browserSupported">
    <form
        <%= link_to "Cancel",
            identity_webauthn_credentials_path,
            class: "btn btn-secondary",
            data: {
              "hx-get": identity_webauthn_credentials_path,
              "hx-target": "#webauthn-credentials-container",
              "hx-swap": "innerHTML"
            } %>>
    </form>
  </div>
</div>
