<% if page.current? %>
  <span is-="badge" variant-="foreground0"><%= page %></span>
<% else %>
  <%= link_to page, url, { remote: remote, rel: page.rel, style: "color: var(--foreground2); text-decoration: none;" } %>
<% end %>
