<div class="page-container-tight">
  <div class="page-header">
    <h1>Edit Address</h1>
    <p>Update your mailing address information</p>
  </div>

  <%= render 'form', address: @address %>

  <div class="page-navigation">
    <%= link_to "â† Back to addresses", addresses_path %>
  </div>
</div>
