<div class="page-container-tight">
  <div class="page-header">
    <h1>Add Your Address</h1>
    <p>We'll use this address to send you physical items when needed</p>
  </div>

  <%= render 'form', address: @address %>

  <div class="page-navigation">
    <%= link_to "â† Back to addresses", addresses_path %>
  </div>
</div>
