<div class="tui-page">
  <article box-="round">
    <h2>edit: <%= @user.display_name %></h2>
    <div is-="separator"></div>
    <a href="<%= backend_user_path(@user) %>" class="tui-item">
      <span class="tui-item-icon">&#x2b60;</span>
      <span class="tui-item-text"><b>cancel</b></span>
    </a>
    <div is-="separator"></div>
    <%= render Backend::Users::Form.new @user %>
  </article>
</div>
