<div class="grid">
  <%= render "backend/shared/card", title: "edit: #{@user.display_name}" do %>
    <%= render "backend/shared/item", icon: "⭠", href: backend_user_path(@user) do %>
      <b>cancel</b>
    <% end %>
    <hr>
    <%= render Backend::Users::Form.new @user %>
  <% end %>
</div>
