<column pad-="2 1" style="max-width: 80ch; margin: 0 auto; width: 100%;">
  <row align-="center between">
    <h2>edit: <%= @user.display_name %></h2>
    <a href="<%= backend_user_path(@user) %>" style="color: var(--foreground2); text-decoration: none;">cancel</a>
  </row>

  <div is-="separator"></div>

  <%= render Backend::Users::Form.new @user %>
</column>
