<column pad-="2 1" style="max-width: 80ch; margin: 0 auto; width: 100%;">
  <row align-="center between">
    <h2>backend users</h2>
    <a href="<%= new_backend_user_path %>"><button size-="small">+ grant access</button></a>
  </row>

  <div is-="separator"></div>

  <column box-="square">
    <% @users.each do |user| %>
      <a href="<%= backend_user_path(user) %>" data-navigable-item style="padding: 0 1ch;">
        <b style="min-width: 20ch;">
          <%= user.display_name %>
          <% unless user.active? %><span style="color: var(--red);">✕</span><% end %>
          <% if user.orphaned? %><span is-="badge" variant-="yellow">orphaned</span><% end %>
        </b>
        <span style="color: var(--foreground2);"><%= user.pretty_roles %></span>
      </a>
    <% end %>
  </column>
</column>
