.button_group {
  &.full {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
    white-space: nowrap;

    & > * > * {
      width: 100%;
    }
  }
}

.action_button {
  .hotkey {
    background: var(--theme-button-foreground);
    color: var(--theme-text);
    cursor: pointer;
    flex-shrink: 0;
    font-weight: 400;
    padding: 0 1ch 0 1ch;
    text-indent: 0ch;
    user-select: none;
  }

  .content {
    background: var(--theme-button-background);
    box-shadow: inset 0 0 0 2px var(--theme-button-foreground);
    cursor: pointer;
    flex-shrink: 0;
    font-weight: 400;
    padding: 0 1ch 0 1ch;
    text-indent: 0ch;
    text-transform: uppercase;
    user-select: none;
  }

  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  outline: 0;
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family-mono);
  font-size: var(--font-size);
  flex-shrink: 0;

  &:hover .hotkey {
    background: var(--theme-focused-foreground);
  }

  &:hover .content {
    box-shadow: inset 0 0 0 2px var(--theme-focused-foreground);
  }

  &:focus .hotkey {
    background: var(--theme-focused-foreground);
  }

  &:focus .content {
    box-shadow: inset 0 0 0 2px var(--theme-focused-foreground);
  }


  &.selected {
    .content {
      background: var(--theme-focused-foreground);
    }
  }
}