.card {
  position: relative;
  display: block;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
  white-space: prewrap;
}

.children {
  box-shadow:
          inset 2px 0 0 0 var(--theme-text),
          inset -2px 0 0 0 var(--theme-text),
          inset 0 -2px 0 0 var(--theme-text);
  display: block;
  padding-top: calc(var(--theme-line-height-base) * 0.5rem);
  padding-left: 2ch;
  padding-right: 2ch;
  padding-bottom: calc(var(--theme-line-height-base) * 1rem);
  overflow-x: auto;
  overflow-y: hidden;

  &::-webkit-scrollbar {
    display: none;
  }

  scrollbar-width: none;
}

.action {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.left {
  min-width: 10%;
  width: 100%;
  box-shadow:
          inset 2px 0 0 0 var(--theme-text),
          inset 0 2px 0 0 var(--theme-text);
  padding: calc((var(--font-size) * 0.5) * var(--theme-line-height-base)) 2ch 0px 1ch;
}

.leftCorner {
  flex-shrink: 0;
  box-shadow:
          inset 2px 0 0 0 var(--theme-text),
          inset 0 2px 0 0 var(--theme-text);
  padding: calc((var(--font-size) * 0.5) * var(--theme-line-height-base)) 1ch 0px 1ch;
}

.right {
  min-width: 10%;
  width: 100%;
  box-shadow:
          inset -2px 0 0 0 var(--theme-text),
          inset 0 2px 0 0 var(--theme-text);
  padding: calc((var(--font-size) * 0.5) * var(--theme-line-height-base)) 2ch 0px 1ch;
}

.rightCorner {
  flex-shrink: 0;
  box-shadow:
          inset -2px 0 0 0 var(--theme-text),
          inset 0 2px 0 0 var(--theme-text);
  padding: calc((var(--font-size) * 0.5) * var(--theme-line-height-base)) 1ch 0px 1ch;
}

.title {
  flex-shrink: 0;
  padding: 0 1ch 0 1ch;
  font-size: var(--font-size);
  font-weight: 400;
}
