$bp-sm: 640px;
$bp-md: 768px;
$bp-lg: 1024px;
$bp-xl: 1280px;

@mixin up($width) {
  @media (min-width: $width) {
    @content;
  }
}

@mixin down($width) {
  @media (max-width: $width) {
    @content;
  }
}
