.card {
  @include card();
}

.section-card {
  @include section-card();
}

.container {
  @include container();
}

.container-md {
  @include container(1000px);
}

.container-sm {
  @include container(720px);
}
