.environment {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    z-index: 9999;
    box-sizing: border-box;

    &.staging {
        border: 5px dashed #ff00c8;
    }
    
    &.development {
        border: 5px dashed #00FF00;
    }

    &.uat {
        border: 5px dashed #001aff;
    }
}