<div class="grid">
  <%= render Components::Backend::Card.new(title: "edit: #{@program.name}") do %>
    <%= render Components::Backend::Item.new(icon: "тна", href: backend_program_path(@program)) do %>
      <b>cancel</b>
    <% end %>
    <hr>
    <%= render Backend::Programs::Form.new @program %>
  <% end %>
</div>
