<header class="page-header">
  <h1>Programs you've linked</h1>
</header>
<%= render Components::HomeButton.new %>
<br>
<main role="main">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Program</th>
        <th>Granted access at</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @applications.each do |application| %>
        <tr>
          <td><%= application.name %></td>
          <td><%= application.created_at.strftime(t('doorkeeper.authorized_applications.index.date_format')) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</main>
