<div class="tui-page">
  <article box-="round">
    <h2>audit logs</h2>
    <div is-="separator"></div>
    <div style="display:flex;gap:1ch;">
      <% if params[:admin_actions_only] %>
        <a href="<%= backend_audit_logs_path %>"><button type="button">ALL</button></a>
        <button type="button" disabled>ADMIN</button>
      <% else %>
        <button type="button" disabled>ALL</button>
        <a href="<%= backend_audit_logs_path(admin_actions_only: true) %>"><button type="button">ADMIN</button></a>
      <% end %>
    </div>
    <div is-="separator"></div>
    <%= render "backend/shared/activity_log", activities: @activities %>
    <%= paginate @activities %>
  </article>
</div>
